.blog{
  padding-top: 35px;
  background-color: #fff;
  overflow: hidden; //fixes margin outflow
  box-shadow: 0 -1px 30px 10px rgba(36, 41, 46, 0.03);

  @media (min-width: $screen-sm-min){
    padding-top: 37px;
    box-shadow: 0 -1px 30px 10px rgba(36, 41, 46, 0.03);
  }

  &__section{
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 29px 0 -27px $gray-lightest;
    @include clearfix();

    @media (min-width: $screen-sm-min){
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 90px;
      margin-bottom: 80px;
    }

    @media (min-width: $screen-md-min){
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 150px;
      margin-bottom: 120px;
    }

    &--dark{
      padding-top: 40px;
      padding-bottom: 60px;
      text-align: center;
      background-color: $gray-darker;
      box-shadow: none;
      @include clearfix();

      @media (min-width: $screen-sm-min){
        padding-top: 68px;
        padding-bottom: 78px;
      }

      @media (min-width: $screen-md-min){
        padding-top: 88px;
        padding-bottom: 108px;
      }
    }

    &--no-margin{
      margin-bottom: 0;

      @media (min-width: $screen-sm-min){
        margin-bottom: 0;
      }

      @media (min-width: $screen-md-min){
        margin-bottom: 0;
      }
    }

    &--no-padding{
      padding-bottom: 0;

      @media (min-width: $screen-sm-min){
        padding-bottom: 0;
      }

      @media (min-width: $screen-md-min){
        padding-bottom: 0;
      }
    }

    &--no-shadow{
      box-shadow: none;
    }
  }

  &__header{
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 29px 0 -27px $gray-lightest;

    @media (min-width: $screen-sm-min){
      margin-bottom: 80px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $screen-md-min){
      margin-bottom: 119px;
    }
  }

  &__heading{
    margin-bottom: 40px;
    font-size: $font-size-blog-heading * 0.5;
    line-height: 1.1;
    text-align: left;
    word-wrap: break-word;

    @media (min-width: $screen-sm-min){
      margin-bottom: 69px;
      font-size: $font-size-blog-heading;
      word-wrap: normal;
    }

    @media (min-width: $screen-md-min){
      font-size: $font-size-blog-heading;
    }
  }
}
