.gallery{
  @include clearfix;

  &__item{
    float: left;

    &--med{
      display: none;
      width: 50%;

      @media (min-width: $screen-sm-min){
        display: block;
        width: 50%;
      }
    }

    &--small{
      display: none;
      width: 25%;

      @media (min-width: $screen-sm-min){
        display: block;
        width: 25%;
      }
    }
  }

  &__img{
    min-width: 100%;
    height: 100%;
  }
}
