.list {
  text-align: left;

  &--pad {
    padding-left: 26px;
  }

  &__heading {
    margin-bottom: 1.95em;
  }

  ul {
    padding-right: 10px;
    padding-left: 23px;
    margin: 0;
    list-style: none;
  }

  h3 {
    display: block;
    margin: 0 0 0.5em 0;
    font-family: $font-family-serif;
    font-size: $font-size-large;
    line-height: $line-height-big;
    color: currentColor;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-large;
    }
  }

  li {
    position: relative;
    margin-bottom: 1.3em;
    font-family: $font-family-serif;
    font-size: $font-size-large * 0.8823;
    line-height: 1.6;
    letter-spacing: 0.03em;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-large;
      letter-spacing: normal;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -32px;
      content: "\2014";
    }
  }

  ol {
    padding: 0;
    margin-bottom: 4em;
    list-style: decimal;
    list-style-position: inside;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }

    li::before {
      display: none;
    }
  }
}
