.list{
  margin: 0;
  padding-left: 23px;
  padding-right: 10px;
  text-align: left;
  color: #fff;
  list-style: none;

  span{
    display: block;
    margin-bottom: 0.5em;
    font-family: $font-family-serif;
    font-size: $font-size-h3;
    line-height: $line-height-big;
  }

  &__heading{
    margin-bottom: 1.95em;
  }

  li{
    position: relative;
    margin-bottom: 1.3em;
    font-family: $font-family-serif;
    font-size: $font-size-large * 0.8823;
    line-height: 1.6;

    @media (min-width: $screen-sm-min){
      font-size: $font-size-large;
    }

    &::before{
      position: absolute;
      content: "\2014";
      left: -30px;
      top: -1px;
    }
  }

  &--ordered{
    padding: 0;
    list-style: decimal;
    list-style-position: inside;

    li::before{
      display: none;
    }
  }
}
