.list{
  padding-left: 31px;
  padding-right: 30px;
  text-align: left;
  color: #fff;
  list-style: none;

  &__heading{
    margin-bottom: 1.6em;
  }

  &__item{
    position: relative;
    margin-bottom: 1.2em;
    font-family: $font-family-serif;
    font-size: $font-size-large * 0.8823;
    line-height: 1.6;

    @media (min-width: $screen-sm-min){
      font-size: $font-size-large;
    }

    &::before{
      position: absolute;
      content: "\2014";
      left: -30px;
      top: -1px;
    }
  }

  &--ordered{
    list-style: decimal;
  }
}
