footer{
  padding-top: 10px;
  padding-bottom: 25px;

  @media (min-width: $screen-xs-max){
    padding-top: 20px;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-sm-max){
    padding-bottom: 130px;
  }
}

.contact{
  display: block;
  margin-left: -3px;
  margin-bottom: 1.24em;
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  color: $gray-light;
  font-weight: 400;
  letter-spacing: 0.001em;

  > a:hover{
    text-decoration: none;
  }

  @media (min-width: $screen-xs-max){
    display: inline-block;
    margin-left: 0;
  }

  @media (min-width: $screen-sm-max){
    &--left{
      padding-left: 50px;
    }
  }

  &:hover{
    color: $gray-dark;
    text-decoration: none;
  }
}

.copyright{
  padding-right: 5px;
  color: $gray-dark;
  font-weight: normal;
}
