.prices{
  background-color: #fff;


  &__header{
    margin-bottom: 2em;
    padding-top: 3em;
    padding-bottom: 4em;
    background-color: $white;

    @media (min-width: $screen-sm-min){
      margin-bottom: 20px;
      padding-top: 100px;
      padding-bottom: 90px;
    }

    h1{
      margin-bottom: 0.3em;
      font-family: $font-family-serif;
      font-size: 52px;
      line-height: $line-height-small;
      text-align: left;

      @media (min-width: $screen-sm-min){
        margin-bottom: 2px;
        font-size: 86px;
      }

      span{
        display: inline;
        font-family: $font-family-serif;
        font-size: 40px;
        text-transform: lowercase;

        @media (min-width: $screen-sm-min){
          font-size: 58px;
        }
      }
    }

    span{
      display: block;
      margin-bottom: 1.5em;
      font-family: $font-family-serif;
      font-size: $font-size-large;
      line-height: $line-height-big;

      @media (min-width: $screen-sm-min){
        margin-bottom: 50px;
        line-height: $line-height-base;
      }
    }

    p{
      margin-bottom: 20px;
      font-family: $font-family-serif;
      font-size: $font-size-large;
      line-height: $line-height-big;
    }
  }

  &__list{
    margin: 0;
    padding: 2.8em 0 0;
    min-width: 100%;
    list-style: none;

    @media (min-width: $screen-sm-min){
      padding: 61px 0 0 5px;
    }

    span{
      margin-bottom: 1em;

      @media (min-width: $screen-sm-min){
        margin-bottom: 24px;
      }
    }

    li{
      margin-bottom: 1em;
      font-size: $font-size-large;

      @media (min-width: $screen-sm-min){
        margin-bottom: 24px;
      }

      &::before{
        display: inline-block;
        content: "\2014\a0\a0";
        left: -30px;
        top: -1px;
      }
    }
  }

  &__heading{
    padding-top: 4em;
    padding-bottom: 3em;
    background-color: #fff;

    @media (min-width: $screen-sm-min){
      padding-top: 83px;
      padding-bottom: 59px;
    }

    h2{
      margin: 0;
      font-family: $font-family-serif;
      font-size: $font-size-h2 * 0.86;
      line-height: $line-height-small;

      @media (min-width: $screen-sm-min){
        font-size: $font-size-h2;
      }
    }
  }

  &__item{
    position: relative;
  }

  &__row{

    @media (min-width: $screen-md-min){
      height: 690px;
    }


    @media (min-width: $screen-lg-min){
      height: 576px;
    }

    .prices__cell:nth-child(2){
      background-color: #fff;
    }
  }

  &__row:nth-child(2){

    .prices__cell{
      background-color: $white;

      @media (min-width: $screen-md-min){
        background-color: #fff;
      }
    }
    .prices__cell:nth-child(2){
      background-color: #fff;

      @media (min-width: $screen-md-min){
        background-color: $white;
      }
    }
  }

  &__cell{
    position: relative;
    padding-top: 4.4em;
    padding-bottom: 3.4em;
    min-height: 100%;
    background-color: $white;

    @media (min-width: $screen-sm-min){
      padding-left: 55px;
      padding-top: 84px;
      padding-bottom: 80px;
    }

    h3{
      margin: 0 0 0.78em 0;
      font-family: $font-family-serif;
      font-size: $font-size-h3;
      line-height: $line-height-base;
    }

    p{
      margin: 0 0 1.45em 0;
      font-family: $font-family-serif;
      font-size: $font-size-large;
      line-height: $line-height-big;
    }
  }

  &__knowledge{
    padding-top: 1.4em;
    padding-bottom: 4em;

    @media (min-width: $screen-sm-min){
      padding-bottom: 50px;
    }

    @media (min-width: $screen-md-min){
      padding-bottom: 74px;
    }

    h2{
      margin-bottom: 0.5em;
    }

    header{
      margin-bottom: 4em;

      @media (min-width: $screen-sm-min){
        padding-bottom: 50px;
      }

      @media (min-width: $screen-md-min){
        margin-bottom: 60px;
      }

      span{
        font-family: $font-family-serif;
        font-size: $font-size-large;
        line-height: $line-height-big;
      }
    }
  }
}
