.prices {
  background-color: #fff;


  &__header {
    padding-top: 3em;
    padding-bottom: 4em;
    margin-bottom: 1em;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
      padding-top: 100px;
      padding-bottom: 90px;
      margin-bottom: 20px;
    }

    h1 {
      margin-bottom: 0.3em;
      font-family: $font-family-serif;
      font-size: 52px;
      line-height: $line-height-small;
      text-align: left;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 2px;
        font-size: 86px;
      }

      span {
        display: inline;
        font-family: $font-family-serif;
        font-size: 40px;
        text-transform: lowercase;

        @media (min-width: $screen-sm-min) {
          font-size: 58px;
        }
      }
    }

    span {
      display: block;
      margin-bottom: 1.5em;
      font-family: $font-family-serif;
      font-size: $font-size-large;
      line-height: $line-height-big;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 50px;
        line-height: $line-height-base;
      }
    }

    p {
      margin-bottom: 20px;
      font-family: $font-family-serif;
      font-size: $font-size-large;
      line-height: $line-height-big;
    }
  }

  &__list {
    padding: 2.8em 0 0;

    ul {
      min-width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    @media (min-width: $screen-sm-min) {
      padding: 60px 0 0 5px;
    }

    h3 {
      margin: 0 0 1em 0;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
      }
    }

    li {
      margin-bottom: 1em;
      font-size: $font-size-large;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 24px;
      }

      &::before {
        top: -1px;
        left: -30px;
        display: inline-block;
        content: "\2014\a0\a0";
      }
    }
  }

  &__heading {
    padding-top: 4em;
    padding-bottom: 3em;
    background-color: #fff;

    @media (min-width: $screen-sm-min) {
      padding-top: 83px;
      padding-bottom: 59px;
    }

    h2 {
      margin: 0;
      // font-size: $font-size-h2 * 0.86;
      line-height: $line-height-small;

      @media (min-width: $screen-sm-min) {
        font-size: $font-size-h2;
      }
    }
  }

  &__item {
    position: relative;

    .prices__row:first-child::before {
      position: absolute;
      top: 0;
      left: 15px;
      z-index: 10;
      width: calc(100% - 30px);
      height: 100%;
      content: " ";
      border-top: 2px solid $white;
    }

    .prices__row:last-child::before {
      position: absolute;
      bottom: 0;
      left: 15px;
      z-index: 10;
      width: calc(100% - 30px);
      height: 100%;
      content: " ";
      border-bottom: 2px solid $white;
    }

    @media (min-width: $screen-md-min) {
      .prices__row:last-child:nth-child(even) {
        .prices__cell:first-child::after {
          position: absolute;
          top: 15px;
          left: 2px;
          width: 100%;
          height: calc(100% - 15px);
          content: " ";
          border-right: 2px solid $white;
        }
      }
    }
  }

  &__row {
    @media (min-width: $screen-md-min) {
      height: 690px;
    }


    @media (min-width: $screen-lg-min) {
      height: 576px;
    }

    .prices__cell:nth-child(2) {
      background-color: #fff;
    }
  }

  &__row:nth-child(2) {
    .prices__cell {
      background-color: $white;

      @media (min-width: $screen-md-min) {
        background-color: #fff;
      }
    }
    .prices__cell:nth-child(2) {
      background-color: #fff;

      @media (min-width: $screen-md-min) {
        background-color: $white;
      }
    }
  }

  &__cell {
    position: relative;
    min-height: 100%;
    padding-top: 4.4em;
    padding-bottom: 3.4em;
    background-color: $white;

    @media (min-width: $screen-md-min) {
      &--underline {
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100% - 15px);
          height: 100%;
          content: " ";
          border-bottom: 2px solid $white;
        }
      }

      &--underline-left {
        &::after {
          position: absolute;
          bottom: 0;
          left: 15px;
          width: calc(100% - 15px);
          height: 100%;
          content: " ";
          border-bottom: 2px solid $white;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      padding-top: 84px;
      padding-bottom: 80px;
      padding-left: 55px;
    }

    h3 {
      margin: 0 0 0.78em 0;
    }

    p {
      margin: 0 0 1.45em 0;
    }
  }

  &__knowledge {
    padding-top: 1.4em;
    padding-bottom: 3em;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 50px;
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 74px;
    }

    h2 {
      margin-bottom: 1.2em;
    }

    header {
      margin-bottom: 5em;

      @media (min-width: $screen-md-min) {
        margin-bottom: 60px;
      }

      span {
        font-size: $font-size-large;
      }
    }
  }
}
