.promo {
  &__row {
    display: block;
    overflow: hidden;

    @include clearfix();

    @media (min-width: $screen-md-min) {
      height: 575px;
    }
  }

  &__item {
    padding-top: 0;
    padding-bottom: 15px;

    @media (min-width: $screen-sm-min) {
      padding-top: 40px;
      padding-bottom: 20px;
    }

    @media (min-width: $screen-md-min) {
      padding-top: 90px;
      padding-bottom: 20px;
    }

    > h2 {
      margin-bottom: 0.8em;
    }
  }
}
