.excess{
  background-color: #fff;
  background-repeat: no-repeat;

  @media (min-width: $screen-md-min){
    padding-bottom: 20px;
    min-height: 512px;
  }

  &__text{
    padding-top: 5em;

    @media (min-width: $screen-sm-min){
      padding-top: 80px;
    }

    @media (min-width: $screen-lg-min){
      padding-top: 98px;
    }

    p{
      margin-bottom: 1.4em;
      font-family: $font-family-serif;
      font-size: $font-size-base;
      line-height: $line-height-big;

      @media (min-width: $screen-sm-min){
        font-size: $font-size-large;
        margin-bottom: 28px;
      }
    }
  }

  &__headings{
    margin-bottom: 2.5em;

    @media (min-width: $screen-sm-min){
      margin-bottom: 28px;
    }
  }
}
