.slider{
  height: 100%;
  min-height: 574px;
  background-color: $gray-lightest;
  overflow: hidden;
  box-shadow: 0 14px 0 -12px $gray-lightest;


  &--full{
    position: relative;
  }

  @media (min-width: $screen-sm-min){
    box-shadow: none;
  }

  &__item{
    outline: none;
    overflow: hidden;

    @media (min-width: $screen-sm-min){
      // box-shadow: 0 100px 0 0 rgba(36, 41, 46, 0.09);
      // HACK
      // to make shadow of __content work properly with small images
      // e.g. no whitey space of no shadow
    }
  }

  &__content{
    margin: 0 auto;
    max-width: 400px;
    height: 474px;
    box-shadow: 0 -10px 40px 10px rgba(36, 41, 46, 0.03);

    @media (min-width: $screen-sm-min){
      box-shadow: 0 -10px 40px 10px rgba(36, 41, 46, 0.15);
    }

    @media (min-width: $screen-lg-min){
      max-width: 454px;
    }

    &--full{
      margin: 0 auto;
      max-width: none;
      height: auto;
      box-shadow: none;

      @media (min-width: $screen-sm-min){
        box-shadow: none;
      }

      @media (min-width: $screen-lg-min){
        box-shadow: none;
        max-width: none;
      }
    }
  }

  &__pagination{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    @include clearfix();

    &--full{
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: $screen-sm-min){
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (min-width: $screen-sm-min){
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__prev{
    display: inline-block;
    content: "";
    width: 27px;
    height: 21px;
    font-size: 0;
    background-image: url("../img/icon-arrow-left.png");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s linear;

    &--full{
      float: left;
      width: 28px;
      height: 21px;

      @media (min-width: $screen-sm-min){
        position: absolute;
        width: 39px;
        height: 29px;
        top: 128px;
        left: 141px;
        z-index: 10;
      }
    }

    &:focus{
      outline: none;
    }

    &--last{
      opacity: 0.3;
    }
  }

  &__next{
    display: inline-block;
    content: "";
    width: 27px;
    height: 21px;
    font-size: 0;
    background-image: url("../img/icon-arrow-right.png");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s linear;

    &--full{
      float: right;
      width: 28px;
      height: 21px;

      @media (min-width: $screen-sm-min){
        position: absolute;
        width: 39px;
        height: 29px;
        top: 128px;
        right: 141px;
        z-index: 10;

      }
    }

    &:focus{
      outline: none;
    }

    &--last{
      opacity: 0.3;
    }
  }

  &__counter{
    display: inline-block;
    width: 90px;
    font-size: $font-size-large;
    color: $gray-font-9a;
    vertical-align: top;
  }
}
