h1 {
  margin: 0 0 1.5em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h1;
  font-weight: normal;
  line-height: 1;
  color: $gray-dark;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  @media (min-width: $screen-sm-min) {
    margin: 0 0 50px 0;
  }
}

h2 {
  margin: 1.4em 0 0.6em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h2 * 0.794117;
  font-weight: normal;
  hyphens: auto;
  line-height: $line-height-base;
  color: $gray-dark;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  word-wrap: break-word;

  @media (min-width: $screen-sm-min) {
    margin: 0 0 1.1em 0;
    font-size: $font-size-h2;
  }
}

h3 {
  margin: 1.3em 0 0.7em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h3 * 0.857142;
  font-weight: normal;
  hyphens: auto;
  line-height: $line-height-base;
  color: $gray-dark;

  @media (min-width: $screen-sm-min) {
    margin: 1.5em 0 1.4em 0;
    font-size: $font-size-h3;
  }
}

h4 {
  margin: 0 0 1em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h4;
  font-weight: normal;
  line-height: $line-height-base;
  color: $gray-dark;
  letter-spacing: 0.08em;
}

h5 {
  margin: 0 0 1em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h5;
  font-weight: normal;
  line-height: $line-height-base;
  color: $gray-dark;
  letter-spacing: 0.08em;
}

h6 {
  margin: 0 0 1em 0;
  font-family: $font-family-serif;
  font-size: $font-size-h6;
  font-weight: normal;
  line-height: $line-height-base;
  color: $gray-dark;
  letter-spacing: 0.08em;
}

p {
  margin: 0 0 1.15em 0;
  font-family: $font-family-serif;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-big;
  color: $gray-dark;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-large;
  }
}

span {
  font-family: $font-family-serif;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-big;
  color: $gray-dark;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-large;
  }
}

a {
  color: $gray-light;

  &:hover,
  &:focus {
    color: $gray-dark;
    text-decoration: none;
  }

  &:active {
    color: $gray-darker;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.lighten {
  color: #fff;
}

.text-center,
.text-align {
  text-align: center;
}
